<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Id user</th>
      <th>Id product</th>
      <th>Product price</th>
      <th>Product discount</th>
      <th>Address</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id_user %></td>
        <td><%= purchase.id_product %></td>
        <td><%= purchase.product_price %></td>
        <td><%= purchase.product_discount %></td>
        <td><%= purchase.address %></td>
        <td><%= purchase.telephone %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
