<div class="container">
  <h6><%= @product.brand.name.upcase %></h6>
  <h1><%= @product.name %></h1>

  <button type="button" class="btn btn-outline-info mb-1" data-toggle="collapse" data-target="#history">
    Ver historial
  </button>

  <div class="collapse mb-1" id="history">
    <div class="card card-body">
      <h6 class="card-title">Historial</h6>
      <ul class="list-group list-group-flush">
        <% @product.versions.each do |version| %>
          <li class="list-group-item">
            <%= User.find(version.whodunnit).email %>
            <strong><%= version.event.upcase %></strong>
            <%= version.created_at.localtime.to_date %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div id="carouselClocks"class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselClocks" data-slide-to="0" class="active"></li>
      <li data-target="#carouselClocks" data-slide-to="1"></li>
      <li data-target="#carouselClocks" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @product.images.each do |image| %>
        <div class="carousel-item <%= image == @product.images.first ? 'active' : '' %>">
          <%= image_tag image.variant(resize: '500x500'), class: 'd-block' %>
        </div>
      <% end %>
    </div>
  </div>

  <h2>Descripción</h2>
  <p><%= @product.description %></p>

  <h2>Precio</h2>
  <p><%= format_price @product.price %></p>

  <% if current_user.present? && current_user.admin %>
    <%= link_to @product, method: :delete do %>
      <button type="button" class="btn btn-danger">Eliminar</button>
    <% end %>
    <%= link_to edit_product_path do %>
      <button type="button" class="btn btn-info">Editar</button>
    <% end %>
  <% else %>
    <button type="button" class="btn btn-success">Comprar</button>
  <% end %>
</div>
