<div class="container">
  <h6><%= @product.brand.name.upcase %></h6>
  <h1><%= @product.name %></h1>

  <% if current_user.present? && current_user.admin %>
    <button type="button" class="btn btn-outline-info mb-1" data-toggle="collapse" data-target="#history">
      Ver historial
    </button>
  <% end %>

  <div class="collapse mb-1" id="history">
    <div class="card card-body">
      <h6 class="card-title">Historial</h6>
      <ul class="list-group list-group-flush">
        <% @product.versions.each do |version| %>
          <li class="list-group-item">
            <% if version.whodunnit %>
              <%= User.find(version.whodunnit).email %>
            <% else %>
              Sistema
            <% end %>
            <strong><%= version.event.upcase %></strong>
            <%= version.created_at.localtime.to_date %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @product.users.any? && current_user.present? && current_user.admin %>
    <div class="card mt-3 mb-5 p-3 shadow">
      <h2>Compras</h2>
      <ul class="purchases">
        <% @product.purchases.each do |purchase| %>
          <li class="purchases__element">
            <b>Comprador:</b> <%= purchase.user.email %><br>
            <b>Fecha:</b> <%= purchase.created_at %><br>
            <b>Dirección:</b> <%= purchase.address %><br>
            <b>Teléfono:</b> <%= purchase.telephone %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div id="carouselClocks"class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselClocks" data-slide-to="0" class="active"></li>
      <li data-target="#carouselClocks" data-slide-to="1"></li>
      <li data-target="#carouselClocks" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @product.images.each do |image| %>
        <div class="carousel-item <%= image == @product.images.first ? 'active' : '' %>">
          <%= image_tag image.variant(resize: '500x500'), class: 'd-block' %>
        </div>
      <% end %>
    </div>
  </div>

  <h2>Descripción</h2>
  <p><%= @product.description %></p>

  <h2>Precio</h2>
  <% if @product.discount && @product.discount > 0 %>
    <p class="original-price mb-0"><%= format_price @product.price %></p>
    <p class="price-with-discount"><%= format_price(apply_discount @product.price, @product.discount) %></p>
  <% else %>
    <p><%= format_price @product.price %></p>
  <% end %>

  <% if current_user.present? && current_user.admin %>
    <%= link_to @product, method: :delete do %>
      <button type="button" class="btn btn-danger">Eliminar</button>
    <% end %>
    <%= link_to edit_product_path do %>
      <button type="button" class="btn btn-info">Editar</button>
    <% end %>
  <% else %>
    <%= link_to new_product_purchase_path @product do%>
      <button type="button" class="btn btn-success">Comprar</button>
    <% end %>
  <% end %>
</div>
